<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-title class="ion-text-center">Sobre</ion-title>

    <ion-thumbnail slot="end" *ngIf="auth.user | async as user; else showLogin">
      <img src="{{user.photoURL}}" alt="{{user.displayName}}" routerLink="/profile">
    </ion-thumbnail>
    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img src="assets/user.png" alt="logue-se" routerLink="/login">
      </ion-thumbnail>
    </ng-template>
    
  </ion-toolbar>
</ion-header>

<img src="assets/pest-control.jpg" alt="logue-se" routerLink="/login">

<ion-content class="ion-padding-horizontal">

  <p>GSM DEDETIZAÇÃO</p>

  <p>Criada em Janeiro de 2021, GSM é um empresa com autorização para usos de remédios químicos.</p>
  <p>Com a intenão de se espelhar pelo país, a GSM abriu franquias pela cidade do Rio De Janeiro, cidade de origem.</p>

</ion-content>
